
.version {
    color: #aaa;
    font-size: 0.9rem;
    text-align: center;
    position: absolute;
    left: var(--gap-2);
    bottom: var(--gap-1);
    right: var(--gap-2);
}

.version.xs, .version.sm {
    font-size: 0.75rem;
}