html, html body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-header-bg: #444;
  --color-header-txt: #fff;
  --color-sidebar-bg: rgba(0, 0, 0, 6%);
  --color-sidebar-txt: #444;

  --padding-x: 0.75rem;
  --padding-y: 0.5rem;

  --font-size-header: 1.2rem;

  --width-sidebar: 18rem;
  --width-lg-sidebar: 18rem;
  --width-md-sidebar: 10rem;
  --width-sm-sidebar: 3.5rem;

  --gap-0: 0.25rem;
  --gap-1: 0.5rem;
  --gap-2: 1rem;
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}